<div class="tabs">
    <ul class="resp-tabs-list">
        <li id="BookWidget_PowderTab_li" class="BookWidget_PowderTab">
            <svg id="BookWidget_PowderTab_svg" class="BookWidget_PowderTab" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;padding:10px" xml:space="preserve">
                <path id="BookWidget_PowderTab_path" class="BookWidget_PowderTab" d="M503.32,31.356l-18.266-21.174c-10.558-12.241-29.135-13.643-41.413-3.127l-21.237,18.194
                    c-5.895,5.05-9.611,12.385-10.197,20.145L399.36,221.548l-0.955-9.929c-0.02-0.211-0.054-0.418-0.092-0.623l-16.41-166.166
                    c-0.743-7.727-4.609-14.986-10.606-19.913L349.691,7.166c-12.49-10.263-31.034-8.479-41.34,3.976l-17.828,21.547
                    c-4.948,5.981-7.359,13.843-6.613,21.587l17.627,178.509l1.149,11.946c0.021,0.217,0.055,0.433,0.095,0.645L315.2,371.137
                    l-94.889-33.083c-0.059-0.021-0.119-0.04-0.178-0.059c-12.809-4.111-26.123-6.195-39.575-6.195h-2.956v-5.374
                    c31.657-10.421,56.858-35.178,67.889-66.556c24.73-3.2,43.652-24.414,43.652-49.705c0-14.418-5.053-27.083-14.282-36.113v-0.057
                    v-5.591V135.69C274.794,64.009,216.424,5.692,144.744,5.692S14.695,64.009,14.628,135.697v32.706v7.082v0.552
                    c-8.785,9.648-13.521,22.408-13.06,35.521c0.831,23.66,18.019,43.246,40.81,47.507c10.766,31.425,35.711,56.326,67.166,67.027
                    v5.704H87.499c-45.998,0-83.42,37.422-83.42,83.419v87.954c0,4.168,3.379,7.547,7.547,7.547h211.628
                    c4.168,0,7.547-3.379,7.547-7.547v-76.659l92.809,29.787l4.701,47.613c0.174,1.759,0.942,3.314,2.082,4.494
                    c1.33,2.154,3.706,3.591,6.417,3.591c0.025,0,0.05,0,0.074,0l133.15-1.279c3.927-0.038,7.169-3.081,7.455-6.998l9.078-124.465
                    c0.002-0.018,0.005-0.036,0.007-0.054l4.936-65.403c0.104-1.367,0.137-2.728,0.129-4.084l5.692-78.045l0.886-11.725
                    c0.016-0.215,0.019-0.431,0.017-0.645l12.144-166.515C510.963,45.046,508.391,37.235,503.32,31.356z M384.541,225.139l0.394,4.098
                    L317,235.771l-0.454-4.598l-0.39-4.06l67.934-6.535L384.541,225.139z M314.663,212.093L298.933,52.81
                    c-0.362-3.761,0.812-7.589,3.22-10.501l17.827-21.546c5.017-6.064,14.045-6.933,20.127-1.936l21.608,17.754
                    c2.919,2.398,4.801,5.932,5.165,9.713l15.727,159.263L314.663,212.093z M236.447,153.745h-0.001h-17.558
                    c-0.047,0-0.094,0.006-0.141,0.007c-0.095-0.001-0.187-0.007-0.281-0.007h-18.309c-45.429-7.591-70.963-20.916-83.765-29.898
                    c8.273-1.032,17.459-1.643,27.685-1.643c61.445,0,86.542,22.3,92.369,28.557V153.745z M198.354,180.507
                    c-3.416-2.385-8.122-1.548-10.508,1.871l-23.071,33.067c-1.119-1.96-2.041-4.054-2.704-6.274
                    c-2.35-7.869-9.749-13.366-17.995-13.366c-8.245,0-15.644,5.495-17.995,13.365c-3.804,12.738-15.699,21.634-28.929,21.634H78.461
                    c-4.15,0-7.962-1.45-10.977-3.858l25.07-35.932c2.385-3.418,1.548-8.123-1.871-10.508c-3.417-2.385-8.123-1.548-10.508,1.871
                    l-19.346,27.728v-32.408c0-4.884,3.973-8.856,8.856-8.856h0.913h45.348l-20.81,29.827c-2.385,3.418-1.548,8.123,1.871,10.508
                    c1.315,0.918,2.821,1.359,4.312,1.359c2.383,0,4.729-1.126,6.196-3.229l26.837-38.464h84.114c1.581,0,3.063,0.422,4.35,1.15
                    l-20.008,28.676c-2.385,3.418-1.548,8.123,1.871,10.508c1.315,0.918,2.821,1.359,4.312,1.359c2.383,0,4.729-1.126,6.196-3.229
                    l12.136-17.393v23.264c0,9.722-7.909,17.631-17.631,17.631h-18.694c-5.57,0-10.893-1.592-15.486-4.369l24.714-35.421
                    C202.611,187.597,201.772,182.892,198.354,180.507z M80.442,153.745c10.647-8.141,17.196-16.177,21.094-22.216
                    c7.195,5.951,19.774,14.38,39.901,22.216H80.442z M273.479,203.204c0.369,2.236,0.57,4.559,0.57,6.962
                    c0,15.465-10.12,28.751-24.224,33.332c1.125-6.224,1.716-12.631,1.716-19.174V211.35h10.221
                    C266.893,211.35,271.332,208.023,273.479,203.204z M259.765,178.395v17.859h-8.224v-27.416h8.224v5.155v2.208
                    C259.659,176.931,259.659,177.67,259.765,178.395z M29.722,175.486v-6.647h6.89v27.416h-6.89V175.486z M16.654,211.03
                    c-0.071-2.019,0.042-4.023,0.315-5.998c2.368,3.812,6.303,6.318,10.757,6.318h8.886v12.973c0,6.061,0.512,12.005,1.481,17.795
                    C25.806,236.959,17.145,225.013,16.654,211.03z M37.962,143.707c-0.852,1.227-1.32,2.678-1.346,4.169
                    c-0.001,0.074-0.003,0.165-0.003,0.226v5.642h-6.89v-18.041C29.78,72.338,81.379,20.786,144.744,20.786
                    c63.365,0,114.963,51.552,115.022,114.911v18.048h-8.224v-5.642c0-0.059-0.001-0.148-0.003-0.221
                    c-0.025-1.492-0.493-2.945-1.345-4.173c-1.037-1.494-26.316-36.599-106.115-36.599C64.281,107.109,38.999,142.213,37.962,143.707z
                    M51.706,150.698c3.162-3.492,12.216-11.969,30.418-18.776c-6.164,6.674-15.77,14.602-30.418,21.743V150.698z M55.521,250.604
                    c-0.069-0.313-0.165-0.616-0.273-0.914c-1.584-5.537-2.657-11.287-3.177-17.192c5.961,8.118,15.567,13.401,26.388,13.401h18.693
                    c19.851,0,37.694-13.327,43.393-32.41c0.455-1.526,1.908-2.59,3.531-2.59s3.075,1.066,3.531,2.59
                    c5.699,19.082,23.541,32.41,43.392,32.41h18.694c10.821,0,20.427-5.283,26.388-13.401c-4.153,47.118-43.826,84.194-92.004,84.194
                    C102.271,316.693,66.87,288.774,55.521,250.604z M162.508,330.2v17.753c0,10.44-8.494,18.935-18.934,18.935
                    s-18.935-8.494-18.935-18.935v-17.932c6.306,1.157,12.802,1.766,19.438,1.766C150.36,331.787,156.517,331.24,162.508,330.2z
                    M215.708,495.626H71.907V478.62h143.801V495.626z M215.708,463.526H71.907v-24.877h143.801V463.526z M225.561,408.979
                    c-2.295-0.737-4.805-0.333-6.753,1.089c-1.948,1.421-3.1,3.687-3.1,6.098v7.389H71.907v-7.389c0-4.168-3.379-7.547-7.547-7.547
                    s-7.547,3.379-7.547,7.547v79.46H19.174v-80.407c0-37.675,30.651-68.325,68.326-68.325h22.046v1.06
                    c0,18.763,15.266,34.029,34.029,34.029c18.763,0,34.029-15.266,34.029-34.029v-1.06h2.956c11.853,0,23.586,1.831,34.874,5.445
                    l101.403,35.354l1.801,18.237c0.003,0.216,0.01,0.433,0.032,0.652c0.022,0.216,0.055,0.428,0.095,0.637l3.23,32.71
                    L225.561,408.979z M321.192,278.205l-2.707-27.413l67.944-6.535l2.659,26.921c-9.977-7.805-22.357-11.44-35.008-10.22
                    C341.185,262.199,329.532,268.322,321.192,278.205z M379.305,496.497l-36.524,0.351l-4.628-46.861
                    c-0.002-0.024-0.005-0.047-0.007-0.071l-3.687-37.337l51.343-5.167L379.305,496.497z M386.919,392.128l-53.942,5.429
                    l-1.139-11.533l55.918-5.379L386.919,392.128z M388.87,365.374l-58.494,5.626l-5.556-57.776
                    c-0.873-9.075,1.84-17.945,7.639-24.979c5.8-7.034,13.991-11.388,23.065-12.262c9.072-0.871,17.945,1.841,24.979,7.64
                    s11.388,13.991,12.262,23.065c0.047,0.494,0.145,0.971,0.281,1.43L388.87,365.374z M462.942,495.693l-68.49,0.658l6.51-89.249
                    l68.066,5.137L462.942,495.693z M470.126,397.186l-68.066-5.137l0.845-11.593l68.066,5.137L470.126,397.186z M472.07,370.539
                    l-68.043-5.135l4.367-57.877c0.686-9.091,4.871-17.37,11.785-23.313c6.913-5.942,15.726-8.831,24.817-8.152
                    c17.588,1.327,31.091,15.836,31.549,33.102L472.07,370.539z M478.887,277.047c-8.501-9.391-20.076-15.078-32.756-16.035
                    c-12.908-0.976-25.442,3.072-35.346,11.39l2.004-27.473l68.066,5.137L478.887,277.047z M482.263,230.757l-0.321,4.254
                    l-68.055-5.136l0.324-4.43l0.32-4.247l68.055,5.136L482.263,230.757z M495.325,51.667L483.684,211.28l-68.066-5.137L427.261,46.51
                    c0.285-3.769,2.093-7.34,4.964-9.798l21.237-18.194c2.693-2.306,6.007-3.435,9.306-3.435c4.026,0,8.031,1.682,10.857,4.957
                    l18.265,21.175C494.359,44.077,495.612,47.88,495.325,51.667z"/>
                <path class="BookWidget_PowderTab" d="M177.957,248.643c-2.598-3.353-6.52-5.276-10.761-5.276h-47.247c-4.241,0-8.163,1.923-10.761,5.276
                    c-2.607,3.365-3.493,7.661-2.428,11.788c4.327,16.78,19.466,28.498,36.812,28.498c17.347,0,32.486-11.719,36.813-28.498
                    C181.45,256.304,180.566,252.008,177.957,248.643z M143.573,273.835c-9.828,0-18.48-6.234-21.654-15.373h43.306
                    C162.053,267.601,153.402,273.835,143.573,273.835z"/>
            </svg>
            <span class="tab-label BookWidget_PowderTab"  id="BookWidget_PowderTab_span">
                {{ "BOOK_WIDGET.POWDER.TITLE"|raw|t }}
            </span>
        </li>
        <li id="BookWidget_BeginnerTab" class="BookWidget_BeginnerTab">
            <svg id="BookWidget_BeginnerTab_svg" class="BookWidget_BeginnerTab" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;padding:10px" xml:space="preserve">
                <path id="BookWidget_BeginnerTab_path" d="M510.463,362.511c-0.011-1.526-0.483-3.013-1.353-4.267l-20.211-29.097l14.083-8.325c4.685-2.77,7.481-7.673,7.481-13.115
                    c0-5.443-2.797-10.345-7.481-13.115l-50.904-30.094c-2.342-1.384-5.244-1.407-7.606-0.06c-0.124,0.071-0.235,0.158-0.353,0.234
                    l-24.075-34.661V200.3l37.12-21.945c4.22-2.494,6.738-6.909,6.738-11.81c0-4.901-2.518-9.317-6.738-11.811l-40.84-24.144
                    c-2.341-1.384-5.245-1.407-7.606-0.06c-2.362,1.348-3.821,3.858-3.821,6.578v1.859v57.012v12.227L265.192,7.074
                    C262.114,2.645,257.057,0,251.662,0c-5.393,0-10.451,2.646-13.534,7.084L97.18,210.676V195.98v-57.012v-1.859
                    c0-2.719-1.458-5.23-3.821-6.578c-2.362-1.347-5.265-1.326-7.606,0.06l-40.84,24.144c-4.22,2.495-6.738,6.91-6.738,11.811
                    s2.519,9.316,6.738,11.81l37.121,21.946v32.253L58.61,266.386l-47.711,28.206c-4.685,2.77-7.482,7.672-7.482,13.115
                    s2.797,10.345,7.482,13.115l7.114,4.206L1.889,348.315c-0.876,1.266-1.346,2.771-1.346,4.311v151.802
                    c0,4.182,3.391,7.573,7.573,7.573h495.767c2.017,0,3.952-0.805,5.374-2.237c1.422-1.432,2.213-3.372,2.199-5.389L510.463,362.511z
                     M455.797,284.29l39.511,23.354c0.012,0.028,0.012,0.096-0.034,0.138l-39.477,23.338V284.29z M420.042,150.383l27.337,16.161
                    l-27.337,16.161V150.383z M250.576,15.715c0.524-0.755,1.652-0.755,2.177,0l49.391,71.106l-12.808,12.808
                    c-3.27,3.27-8.591,3.27-11.86,0l-9.409-9.409c-4.445-4.445-10.354-6.893-16.64-6.893s-12.196,2.448-16.64,6.893l-9.409,9.409
                    c-1.584,1.583-3.69,2.457-5.93,2.457c-2.241,0-4.346-0.872-5.93-2.457l-12.431-12.431L250.576,15.715z M192.323,99.855
                    l10.483,10.483c4.445,4.445,10.354,6.893,16.64,6.893s12.196-2.448,16.64-6.893l9.409-9.409c3.27-3.27,8.591-3.27,11.86,0
                    l9.409,9.409c4.445,4.445,10.354,6.893,16.64,6.893s12.196-2.448,16.64-6.893l10.877-10.877l35.508,51.12
                    c-5.577,1.307-10.789,4.15-15.03,8.392c-3.081,3.081-7.175,4.777-11.532,4.777c-4.356,0-8.452-1.696-11.532-4.777
                    c-12.264-12.264-32.22-12.263-44.483,0c-3.081,3.081-7.176,4.777-11.532,4.777s-8.452-1.696-11.532-4.777
                    c-12.263-12.264-32.22-12.264-44.484,0c-3.081,3.081-7.175,4.777-11.532,4.777c-4.356,0-8.452-1.696-11.532-4.777
                    c-4.451-4.451-10.005-7.36-15.908-8.572L192.323,99.855z M54.697,166.545l27.337-16.161v32.322L54.697,166.545z M18.607,307.63
                    l39.477-23.338v46.831l-39.511-23.354C18.56,307.74,18.56,307.673,18.607,307.63z M15.689,354.991l15.395-22.237l27,15.962v69.396
                    c-20.573,16.577-33.896,34.656-42.395,49.861V354.991z M372.195,496.858v-0.004c-2.774-13.652-12.936-51.36-45.802-92.279
                    c-21.367-26.604-20.965-44.455-20.54-63.354c0.33-14.658,0.67-29.815-8.227-48.619c-6.065-12.819-11.413-21.722-15.71-28.876
                    l-1.381-2.304c-2.146-3.59-6.796-4.761-10.386-2.614c-3.59,2.146-4.76,6.796-2.614,10.386l1.397,2.331
                    c4.339,7.225,9.257,15.414,15.003,27.556c7.366,15.567,7.079,28.309,6.775,41.8c-0.445,19.814-0.951,42.272,23.873,73.179
                    c28.436,35.406,38.727,68.598,42.07,82.796h-98.044v-81.017c0-4.182-3.391-7.573-7.573-7.573c-4.182,0-7.573,3.391-7.573,7.573
                    v81.017h-97.182c3.302-14.148,13.52-47.224,42.09-82.796c24.825-30.907,24.319-53.366,23.874-73.18
                    c-0.304-13.49-0.59-26.233,6.775-41.799c5.744-12.14,10.663-20.329,15.002-27.554l0.933-1.555
                    c2.15-3.588,0.986-8.238-2.602-10.389c-3.588-2.15-8.238-0.986-10.389,2.602l-0.926,1.543
                    c-4.297,7.153-9.643,16.055-15.709,28.874c-8.898,18.804-8.557,33.962-8.227,48.619c0.425,18.9,0.827,36.752-20.54,63.355
                    c-32.866,40.921-43.028,78.629-45.802,92.279H19.25c5.995-16.927,23.561-54.059,68.283-80.826
                    c37.768-22.606,42.903-47.669,47.434-69.782c3.055-14.916,5.941-29.004,18.203-42.952c8.664-9.856,16.64-17.612,23.677-24.454
                    c19.872-19.32,34.229-33.28,37.76-69.035c0.411-4.162-2.63-7.869-6.793-8.281c-4.16-0.401-7.869,2.63-8.281,6.793
                    c-2.986,30.244-13.734,40.694-33.245,59.664c-7.237,7.037-15.44,15.012-24.495,25.314c-14.915,16.969-18.346,33.716-21.665,49.913
                    c-4.467,21.809-8.326,40.644-40.373,59.826c-2.239,1.34-4.409,2.704-6.525,4.086v-62.721v-71.062v-1.457l9.115-13.165
                    c0.924,3.139,3.823,5.432,7.261,5.432c4.182,0,7.573-3.391,7.573-7.573v-19.286l49.751-71.862
                    c5.54-1.429,11.482,0.143,15.599,4.261c5.941,5.941,13.841,9.214,22.242,9.214c8.402,0,16.301-3.273,22.242-9.214
                    c3.081-3.08,7.175-4.776,11.532-4.776c4.357,0,8.452,1.696,11.532,4.776c5.94,5.941,13.84,9.214,22.242,9.214
                    c8.402,0,16.301-3.273,22.242-9.214c6.359-6.357,16.704-6.358,23.064,0c5.941,5.941,13.841,9.214,22.242,9.214
                    s16.301-3.273,22.242-9.213c3.839-3.839,9.219-5.466,14.469-4.491l48.319,69.564v21.815c0,4.182,3.391,7.573,7.573,7.573
                    c4.182,0,7.573-3.391,7.573-7.573v-0.009l0.383,0.55l20.226,29.12V344.4v70.317c-5.38-4.016-11.184-7.932-17.45-11.683
                    c-32.046-19.181-35.905-38.016-40.372-59.826c-3.318-16.196-6.749-32.943-21.664-49.913
                    c-9.055-10.302-17.258-18.277-24.495-25.313c-19.511-18.97-30.259-29.42-33.246-59.664c-0.411-4.162-4.123-7.201-8.281-6.793
                    c-4.162,0.411-7.203,4.119-6.793,8.281c3.531,35.755,17.889,49.715,37.76,69.036c7.038,6.842,15.015,14.598,23.677,24.454
                    c12.26,13.948,15.146,28.036,18.203,42.952c4.53,22.113,9.664,47.177,47.433,69.782c45.525,27.248,64.882,64.498,71.553,80.826
                    H372.195z M453.597,425.254c1.359-1.369,2.199-3.253,2.199-5.334v-71.203l20.03-11.841l19.507,28.084l0.807,115.248
                    C488.758,465.4,475.659,444.826,453.597,425.254z"/>
            </svg>
            <span class="tab-label BookWidget_BeginnerTab">
                {{ "BOOK_WIDGET.BEGINNER.TITLE"|t }}
            </span>
        </li>
        <li id="agoda-widget">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 471.755 471.755" style="enable-background:new 0 0 471.755 471.755;" xml:space="preserve">
                <path id="BookWidget_agoda_path" d="M469.467,315.082l-72.443-57.058c-2.178-1.716-5.247-1.716-7.425,0l-72.443,57.058c-2.604,2.05-3.051,5.823-1.001,8.426
                    c2.05,2.604,5.823,3.052,8.426,1.001l4.196-3.305v59.439l-27.43-7.399v-94.493l4.196,3.305c1.1,0.867,2.409,1.287,3.708,1.287
                    c1.775,0,3.534-0.785,4.717-2.288c2.05-2.603,1.603-6.375-1.001-8.426l-72.443-57.058c-2.178-1.716-5.247-1.716-7.425,0
                    l-72.443,57.058c-2.604,2.05-3.051,5.823-1.001,8.426c2.05,2.604,5.823,3.053,8.426,1.001l4.196-3.305v59.678l-27.43-7.399v-94.732
                    l4.196,3.305c1.1,0.867,2.409,1.287,3.708,1.287c1.775,0,3.534-0.785,4.717-2.288c2.05-2.603,1.603-6.375-1.001-8.426
                    l-72.443-57.058c-2.178-1.716-5.247-1.716-7.425,0L4.156,230.177c-2.604,2.05-3.051,5.823-1.001,8.426
                    c2.05,2.604,5.823,3.052,8.426,1.001l4.196-3.305v59.917L7.564,294c-3.197-0.861-6.492,1.031-7.355,4.23
                    c-0.863,3.199,1.031,6.493,4.23,7.355L460.416,428.58c0.523,0.141,1.049,0.208,1.566,0.208c2.645,0,5.067-1.763,5.789-4.439
                    c0.863-3.199-1.031-6.493-4.23-7.355l-5.695-1.536v-94.254l4.196,3.305c1.1,0.867,2.409,1.287,3.708,1.287
                    c1.775,0,3.534-0.785,4.717-2.288C472.518,320.905,472.07,317.133,469.467,315.082z M80.311,185.47l30.004,23.631H50.307
                    L80.311,185.47z M132.846,327.794l-56.344-15.198h56.344V327.794z M132.846,300.596H32.014l-4.238-1.143v-17.357h22.536v7.998
                    c0,3.313,2.687,6,6,6h47.998c3.313,0,6-2.687,6-6v-7.998h22.536V300.596z M62.312,284.094v-16.499H98.31v16.499H62.312z
                     M132.846,270.096H110.31v-8.5c0-3.313-2.687-6-6-6H56.312c-3.313,0-6,2.687-6,6v8.5H27.776v-18.499h105.07V270.096z
                     M132.846,239.596H27.776v-12.749l7.295-5.746h90.479l7.295,5.746V239.596z M236.811,227.923l30.004,23.631h-60.007
                    L236.811,227.923z M289.346,370.008l-55.457-14.959h55.457V370.008z M289.346,343.049h-99.945l-5.125-1.382v-17.118h22.536v7.998
                    c0,3.313,2.687,6,6,6h47.998c3.313,0,6-2.687,6-6v-7.998h22.536V343.049z M218.812,326.546v-16.499h35.998v16.499H218.812z
                     M289.346,312.549H266.81v-8.501c0-3.313-2.687-6-6-6h-47.998c-3.313,0-6,2.687-6,6v8.501h-22.536v-18.5h105.07V312.549z
                     M289.346,282.049h-105.07V269.3l7.295-5.746h90.479l7.295,5.746V282.049z M393.311,270.376l30.004,23.631h-60.007L393.311,270.376
                    z M445.846,412.221l-54.572-14.72h54.572V412.221z M445.846,385.501h-99.06l-6.01-1.621v-16.879h22.536v7.998c0,3.313,2.687,6,6,6
                    h47.998c3.313,0,6-2.687,6-6v-7.998h22.536V385.501z M375.312,368.999v-16.499h35.998v16.499H375.312z M445.846,355.001H423.31
                    v-8.5c0-3.313-2.687-6-6-6h-47.998c-3.313,0-6,2.687-6,6v8.5h-22.536v-18.5h105.07V355.001z M445.846,324.501h-105.07v-12.748
                    l7.295-5.746h90.479l7.295,5.746V324.501z"/>
                <path d="M9.866,179.086l85.561-72.029l22.272,17.202c1.078,0.833,2.372,1.251,3.668,1.251c1.202,0,2.405-0.36,3.44-1.085
                    l26.558-18.59l26.557,18.59c2.121,1.485,4.954,1.442,7.028-0.105l25.946-19.349l89.725,74.149c1.119,0.925,2.473,1.375,3.819,1.375
                    c1.728,0,3.442-0.742,4.628-2.178c2.111-2.554,1.751-6.336-0.803-8.447l-48.909-40.419l10.666-11.955l19.52,20.448
                    c1.179,1.235,2.758,1.857,4.341,1.857c1.483,0,2.97-0.547,4.13-1.648l22.88-21.722l22.88,21.722
                    c2.369,2.248,6.101,2.19,8.397-0.133l23.754-24.026l85.455,91.056c1.181,1.258,2.776,1.894,4.376,1.894
                    c1.472,0,2.947-0.538,4.105-1.625c2.417-2.268,2.537-6.064,0.269-8.481L327.498,44.859c-1.152-1.228-2.76-1.909-4.451-1.894
                    c-1.684,0.021-3.281,0.749-4.401,2.005L250.1,121.803l-92.436-76.389c-2.235-1.847-5.469-1.832-7.687,0.035L2.137,169.907
                    c-2.535,2.134-2.86,5.919-0.726,8.454C3.545,180.895,7.33,181.22,9.866,179.086z M323.235,57.853l44.472,47.386l-19.936,20.164
                    l-22.747-21.595c-2.315-2.198-5.946-2.198-8.262,0l-22.671,21.523l-16.054-16.817L323.235,57.853z M153.877,57.852l47.497,39.251
                    l-20.123,15.006l-26.446-18.512c-2.066-1.446-4.815-1.447-6.882,0l-26.383,18.468L104.82,99.15L153.877,57.852z"/>
            </svg>
            <span class="tab-label lodging">
                {{ "BOOK_WIDGET.LODGING.TITLE"|t }}
            </span>
        </li>
    </ul>
    <div class="resp-tabs-container">
        <div class="book-search">
            <div class="row m-t-20">
                <div class="col-sm-6 form-group">
                    <label for="powderPackagesDataPicker">
                        <small>{{ "BOOK_WIDGET.DATES"|t }}</small>
                    </label>
                    <input id="powderPackagesDataPicker" readonly style="background-color:#fff;" type="text" aria-required="true" name="daterange" class="form-control" placeholder="Select Dates">
                </div>
                <div class="col-sm-6 form-group">
                    <label>
                        <small>{{ "BOOK_WIDGET.CATEGORY"|t }}</small>
                    </label>
                    <select class="selectpicker" id="selectpicker-powder">
                        <option data-modal-label="Ski Bum Packages" value="41,42,43,44,45,46,47,48,49,50" data-target="#modal-checkfront-ski-bum" data-checkfront-target="CHECKFRONT_WIDGET_SKI_BUM">
                            {{ "PACKAGES.POWDER.SKI_BUM.TITLE"|t }}
                        </option>
                        <option data-modal-label="Economic Packages" value="51,52,53,54,95,96,97,98,99,100,101,102,104,105,106,107,108,109,110,111" data-target="#modal-checkfront-economic" data-checkfront-target="CHECKFRONT_WIDGET_ECONOMIC">
                            {{ "PACKAGES.POWDER.ECONOMIC.TITLE"|t }}
                        </option>
                        <option data-modal-label="Comfort Packages" value="6,7,8,9,24,32,33,34,35,36,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74" data-target="#modal-checkfront-comfort" data-checkfront-target="CHECKFRONT_WIDGET_COMFORT" selected>
                            {{ "PACKAGES.POWDER.COMFORT.TITLE"|t }}
                        </option>
                        <option data-modal-label="Deluxe Packages" value="75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94" data-target="#modal-checkfront-deluxe" data-checkfront-target="CHECKFRONT_WIDGET_DELUXE">
                            {{ "PACKAGES.POWDER.DELUXE.TITLE"|t }}
                        </option>
                        <option data-modal-label="Helisli Packages" value="21,31" data-target="#modal-checkfront-heliski" data-checkfront-target="CHECKFRONT_WIDGET_HELISKI">
                            {{ "PACKAGES.POWDER.HELISKI.TITLE"|t }}
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-rounded" id="powder-book-now" type="button" data-target="#modal-checkfront-comfort" data-toggle="modal" data-checkfront-target="CHECKFRONT_WIDGET_COMFORT" data-checkfront-item-id="6,7,8,9,24,32,33,34,35,36,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74" data-checkfront-locale-id="en_CA" data-checkfront-options="hidesearch">
                {{ "BOOK_WIDGET.BOOK_NOW"|t }}
            </button>
            <div class="modal fade" id="modal-checkfront-ski-bum" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.POWDER.SKI_BUM.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_SKI_BUM">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-economic" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.POWDER.ECONOMIC.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_ECONOMIC">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-comfort" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.POWDER.COMFORT.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_COMFORT">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-deluxe" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.POWDER.DELUXE.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_DELUXE">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-heliski" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.POWDER.HELISKI.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_HELISKI">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-search">
            <div class="row m-t-20">
                <div class="col-sm-6 form-group">
                    <label for="beginnerPackagesDataPicker">
                        <small>{{ "BOOK_WIDGET.DATES"|t }}</small>
                    </label>
                    <input id="beginnerPackagesDataPicker"  readonly style="background-color:#fff;" type="text" aria-required="true" name="daterange" class="form-control" placeholder="Select Dates">
                </div>
                <div class="col-sm-6 form-group">
                    <label>
                        <small>{{ "BOOK_WIDGET.CATEGORY"|t }}</small>
                    </label>
                    <select class="selectpicker" id="selectpicker-beginner">
                        {# <option data-modal-label="Hotel Shaw Inn" value="112,118" data-target="#modal-checkfront-hotel-shaw-inn" data-checkfront-target="CHECKFRONT_WIDGET_SHAW_INN">
                            {{ "PACKAGES.BEGINNER.HOTEL_SHAW_INN.TITLE"|t }}
                        </option> #}
                        <option data-modal-label="Hotel Kheleel Palace" value="232,237" data-target="#modal-checkfront-hotel-khaleel" data-checkfront-target="CHECKFRONT_WIDGET_KHALEEL">
                            {{ "PACKAGES.BEGINNER.HOTEL_KHALEEL.TITLE"|t }}
                        </option>
                        <option data-modal-label="Highlands Park" value="126,131" data-target="#modal-checkfront-highlands-park" data-checkfront-target="CHECKFRONT_WIDGET_HIGHLANDS" selected>
                            {{ "PACKAGES.BEGINNER.HIGHLANDS_PARK.TITLE"|t }}
                        </option>
                        <option data-modal-label="Khyber Resort" value="139,144" data-target="#modal-checkfront-khyber-resort" data-checkfront-target="CHECKFRONT_WIDGET_KHYBER">
                            {{ "PACKAGES.BEGINNER.KHYBER_RESORT.TITLE"|t }}
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-rounded"  id="beginner-book-now" type="button" data-target="#modal-checkfront-highlands-park" data-toggle="modal" data-checkfront-target="CHECKFRONT_WIDGET_HIGHLANDS" data-checkfront-item-id="126,131" data-checkfront-locale-id="en_CA" data-checkfront-options="hidesearch">
                {{ "BOOK_WIDGET.BOOK_NOW"|t }}
            </button>
            <div class="modal fade" id="modal-checkfront-hotel-shaw-inn" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.BEGINNER.HOTEL_SHAW_INN.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_SHAW_INN">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-hotel-khaleel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.BEGINNER.HOTEL_KHALEEL.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_KHALEEL">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-highlands-park" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.BEGINNER.HIGHLANDS_PARK.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_HIGHLANDS">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-checkfront-khyber-resort" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title">{{ "PACKAGES.BEGINNER.KHYBER_RESORT.TITLE"|t }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="CHECKFRONT_WIDGET_KHYBER">
                                <p style="background: url('//skigulmarg.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">
                                    {{ "BOOK_WIDGET.SEARCHING"|t }}
                                </p>
                            </div>
                            <noscript>
                                <a href="https://skigulmarg.checkfront.com/reserve/" class="font-16">
                                    Continue to Secure Booking System &raquo;
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-search p-0" style="width:100%">
            <div id="agoda-container" style="margin: 0 auto"></div>
        </div>
    </div>
</div>
