{% extends 'partials/base.html.twig' %}

{% block customStyles %}
    <style>
        @media (min-width: 992px) {
            #header.header-transparent.header-sticky #header-wrap,
            #header.header-transparent #header-wrap {
                background-color: white!important;
            }
            #header #header-wrap #logo svg path.skigulmarg-logo {
                fill: #252525;
            }
            #mainMenu nav > ul > li > a {
                color: #252525;
            }
            #mainMenu nav > ul > li > a:hover {
                color: #262626;
            }
            #header .menu-right > ul > li a i,
            #header .menu-right > ul > li span {
                color: #252525;
            }

            #header .menu-right > ul > li.mega-menu-item .title[title="Weather"] {
                border-right: 1px solid #252525;
            }

            #header #mainMenu-trigger button .lines,
            #header #mainMenu-trigger button .lines:before,
            #header #mainMenu-trigger button .lines:after {
                background-color: #252525;
            }
        }
    </style>
{% endblock %}

{% block content %}
<section id="page-content">
    <div class="container">
        <h1>{{ "EXTRA.SITE_MAP"|t }}</h1>
        <div class="row m-t-40">
            <div class="col-sm-6 col-md-3">
                <h4>{{ "GULMARG_SKI_RESORT.TITLE"|raw|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IN_WINTER.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.IN_WINTER.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IN_SUMMER.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.IN_SUMMER.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.TITLE"|t }}
                                </a>
                                <ul style="list-style:none;padding-left: 20px;">
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.PHOTOS.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.PHOTOS.TITLE"|t }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.VIDEOS.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.IMAGES.VIDEOS.TITLE"|t }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.WEATHER.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.WEATHER.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.LINK"|t }}{{ "GULMARG_SKI_RESORT.ABOUT.ACCOMMODATION_MAP.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.ABOUT.ACCOMMODATION_MAP.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.OUTDOOR_ACTIVITIES.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.OUTDOOR_ACTIVITIES.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.SHOPPING_AND_SIGHTSEEING.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.SHOPPING_AND_SIGHTSEEING.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.RESTAURANTS_AND_CAFES.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.RESTAURANTS_AND_CAFES.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.LINK"|t }}{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.APRES_SKI.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.THINGS_TO_DO.APRES_SKI.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.INDIA_FORMALITIES.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.INDIA_FORMALITIES.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.TRAVEL_INSURANCE.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.TRAVEL_INSURANCE.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.FLYING_TO_INDIA.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.FLYING_TO_INDIA.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.TITLE"|t }}
                                </a>
                                <ul style="list-style:none;padding-left: 20px;">
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.BY_AIR.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.BY_AIR.TITLE"|t }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.BY_LAND.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.BY_LAND.TITLE"|t }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.ABOUT_DELHI.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.ABOUT_DELHI.TITLE"|t }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.ABOUT_SRINAGAR.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_KASHMIR.ABOUT_SRINAGAR.TITLE"|t }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_GULMARG.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_GULMARG.TITLE"|t }}
                                </a>
                                <ul style="list-style:none;padding-left: 20px;">
                                    <li>
                                        <a href="{{ base_url }}{{ "GULMARG_SKI_RESORT.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_GULMARG.LINK"|t }}{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_GULMARG.MAP_DIRECTION.LINK"|t }}">
                                            <i class="fa fa-file-text-o"></i>{{ "GULMARG_SKI_RESORT.GETTING_HERE.GETTING_TO_GULMARG.MAP_DIRECTION.TITLE"|t }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "THE_MOUNTAIN.TITLE"|raw|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.INBOUNDS.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.INBOUNDS.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.INBOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.INBOUNDS.MAIN_GONDOLA_BOWL.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.INBOUNDS.MAIN_GONDOLA_BOWL.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.INBOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.INBOUNDS.SURFACE_LIFT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.INBOUNDS.SURFACE_LIFT.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LOCKERS_LEFT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LOCKERS_LEFT.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LOCKERS_RIGHT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LOCKERS_RIGHT.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.THE_BACK.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.THE_BACK.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.FAR_SIDE.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.FAR_SIDE.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.MONKEY_HILL.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.MONKEY_HILL.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.BABARISHI.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.BABARISHI.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.TO_TANGMARG.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.TO_TANGMARG.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.TO_DRANG.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.TO_DRANG.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.LINK"|t }}{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.SUNSHINE_PEAK.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "THE_MOUNTAIN.OUT_OF_BOUNDS.SUNSHINE_PEAK.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/ski-guides"><i class="fa fa-file-text-o"></i>Ski Guides</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/gulmarg-heliski"><i class="fa fa-file-text-o"></i>Gulmarg Heliski</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/gulmarg-trail-map"><i class="fa fa-file-text-o"></i>Gulmarg Trail Map</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/ski-lift-tickets"><i class="fa fa-file-text-o"></i>Ski Lift Tickets</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/hours-of-operation"><i class="fa fa-file-text-o"></i>Hours of Operation</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/mountain-stats"><i class="fa fa-file-text-o"></i>Mountain Stats</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "THE_MOUNTAIN.LINK"|t }}/mountain-safety"><i class="fa fa-file-text-o"></i>Mountain Safety</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "PACKAGES.TITLE"|raw|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}{{ "PACKAGES.POWDER.SKI_BUM.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.SKI_BUM.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}{{ "PACKAGES.POWDER.ECONOMIC.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.ECONOMIC.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}{{ "PACKAGES.POWDER.COMFORT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.COMFORT.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}{{ "PACKAGES.POWDER.DELUXE.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.DELUXE.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.POWDER.LINK"|t }}{{ "PACKAGES.POWDER.HELISKI.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.POWDER.HELISKI.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.BEGINNER.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>Beginner Packages
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.BEGINNER.LINK"|t }}{{ "PACKAGES.BEGINNER.HOTEL_SHAW_INN.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.BEGINNER.HOTEL_SHAW_INN.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.BEGINNER.LINK"|t }}{{ "PACKAGES.BEGINNER.HIGHLANDS_PARK.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.BEGINNER.HIGHLANDS_PARK.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.BEGINNER.LINK"|t }}{{ "PACKAGES.BEGINNER.KHYBER_RESORT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.BEGINNER.KHYBER_RESORT.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.CUSTOM.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.CUSTOM.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.SKI_RENTAL.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.SKI_RENTAL.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.SNOWBOARD_RENTAL.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.SNOWBOARD_RENTAL.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.OTHER_RENTAL.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.OTHER_RENTAL.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.RENTAL_LOCATIONS.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.RENTAL_LOCATIONS.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.RENATAL.RENTAL_RATES.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.RENATAL.RENTAL_RATES.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.GROUP.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.GROUP.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "PACKAGES.LINK"|t }}{{ "PACKAGES.MORE_OPTIONS.WHY_BOOK_WITH_US.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "PACKAGES.MORE_OPTIONS.WHY_BOOK_WITH_US.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "LODGING.TITLE"|raw|t }}<br><br></h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.LINK"|t }}" title="{{ "LODGING.ACCOMMODATION_BY_AREA.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_AREA.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_SKI_IN_OUT.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_SKI_IN_OUT.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_ON_THE_GOLF_COURSE.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_ON_THE_GOLF_COURSE.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_IN_THE_VILLAGE.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_IN_THE_VILLAGE.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_IN_SRINAGAR.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_AREA.HOTELS_IN_SRINAGAR.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_TYPE.TITLE"|t }}
                        </a>
                        <ul style="list-style:none;padding-left: 20px;">
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.BASIC_HOTELS_AND_ROOMS.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_TYPE.BASIC_HOTELS_AND_ROOMS.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.ECONOMIC_HOTELS.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_TYPE.ECONOMIC_HOTELS.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.COMFORT_HOTELS.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_TYPE.COMFORT_HOTELS.TITLE"|t }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.LINK"|t }}{{ "LODGING.ACCOMMODATION_BY_TYPE.DELUXE_HOTELS.LINK"|t }}">
                                    <i class="fa fa-file-text-o"></i>{{ "LODGING.ACCOMMODATION_BY_TYPE.DELUXE_HOTELS.TITLE"|t }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_DELHI.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_DELHI.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_MUMBAI.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_MUMBAI.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "LODGING.LINK"|t }}{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_INDIA.LINK"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LODGING.MORE_OPTIONS.ACCOMMODATION_IN_INDIA.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-40">
            <div class="col-sm-6 col-md-3">
                <h4>{{ "FAQ.TITLE"|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.TRAVEL.LINK"|t }}" title="{{ "FAQ.TRAVEL.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.TRAVEL.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.HEALTH_AND_SAFETY.LINK"|t }}" title="{{ "FAQ.HEALTH_AND_SAFETY.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.HEALTH_AND_SAFETY.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.SNOW_SKIING.LINK"|t }}" title="{{ "FAQ.SNOW_SKIING.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.SNOW_SKIING.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.EQUIPMENT.LINK"|t }}" title="{{ "FAQ.EQUIPMENT.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.EQUIPMENT.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.THINGS_TO_DO.LINK"|t }}" title="{{ "FAQ.THINGS_TO_DO.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.THINGS_TO_DO.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}{{ "FAQ.LINK"|t }}{{ "FAQ.WHY_BOOK_WITH_US.LINK"|t }}" title="{{ "FAQ.WHY_BOOK_WITH_US.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "FAQ.WHY_BOOK_WITH_US.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "EXTRA.TITLE"|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url_absolute }}{{ "EXTRA.LINK"|t }}{{ "EXTRA.ABOUT.LINK"|t }}" title="{{ "EXTRA.ABOUT.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "EXTRA.ABOUT.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "EXTRA.LINK"|t }}{{ "EXTRA.TESTIMONIALS.LINK"|t }}" title="{{ "EXTRA.TESTIMONIALS.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "EXTRA.TESTIMONIALS.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "EXTRA.LINK"|t }}{{ "EXTRA.LINKS.LINK"|t }}" title="{{ "EXTRA.LINKS.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "EXTRA.LINKS.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "EXTRA.SITE_MAP.LINK"|t }}" title="{{ "EXTRA.SITE_MAP.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "EXTRA.SITE_MAP.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "CONTACTS.TITLE"|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url_absolute }}{{ "CONTACTS.FORM.LINK"|t }}" title="{{ "CONTACTS.FORM.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "CONTACTS.FORM.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "CONTACTS.FEEDBACK.LINK"|t }}" title="{{ "CONTACTS.FEEDBACK.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "CONTACTS.FEEDBACK.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>{{ "LEGAL.TITLE"|t }}</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url_absolute }}{{ "LEGAL.LINK"|t }}{{ "LEGAL.TERMS.LINK"|t }}" title="{{ "LEGAL.TERMS.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LEGAL.TERMS.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "LEGAL.LINK"|t }}{{ "LEGAL.PRIVACY.LINK"|t }}" title="{{ "LEGAL.PRIVACY.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LEGAL.PRIVACY.TITLE"|t }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url_absolute }}{{ "LEGAL.LINK"|t }}{{ "LEGAL.BOOKING.LINK"|t }}" title="{{ "LEGAL.BOOKING.TITLE"|t }}">
                            <i class="fa fa-file-text-o"></i>{{ "LEGAL.BOOKING.TITLE"|t }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
